<div class="row">
   <div class="col-md-10 mx-auto">
  <h2 class="text-center text-danger">Modifier mon profile</h2>
   	  
		<form (submit)="updateUser()" >
		  <div class="form-group">
		    <label for="name">Nom</label>
		    <input type="text" [(ngModel)]="user.name" name="name" class="form-control" id="name" placeholder="Entrez votre nom">
		  </div>
		  <div class="form-group">
		    <label for="email">Email</label>
		    <input type="email" [(ngModel)]="user.email" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Entrez votre email">
		  </div>

		  <div class="row">
		  	<div class="col-md-6">
		  		 <label for="email">Age</label>
		    <input type="number" [(ngModel)]="user.age" name="age" class="form-control" id="age"  placeholder="Age...">
		  	</div>
		  	<div class="col-md-6">
		  		 <label for="email">Race</label>
		    <input type="text" [(ngModel)]="user.race" name="race" class="form-control" id="race"  placeholder="Race...">
		  	</div>
		  </div>

		  <div class="row">
		  	<div class="col-md-6">
		  		 <label for="email">Famille</label>
		  		<textarea name="family" [(ngModel)]="user.family" class="form-control" placeholder="Famille..."></textarea>
		  	</div>
		  	<div class="col-md-6">
		  		  <label for="email">Nourriture</label>
		  		<textarea name="food" [(ngModel)]="user.food" class="form-control" placeholder="Nourriture..."></textarea>
		  	</div>
		  </div>

		  <div class="form-group mt-3" align="center">
		  	<input type="submit" class="btn btn-danger" value="Modifier mon compte">
		  </div>
		</form>
   </div>
</div>