<div class="text-center">
	<h3 class="text-center my-3 text-danger">Tous les Schtroumpfs inscrits</h3>
	<div *ngIf="users">
		<div class="row">
			<div class="col-md-4" *ngFor="let item of users">
					<div class="card border-light mb-3" >
					<div class="card-header text-danger ">{{ item.name }}</div>
					<div class="card-body">
					<!-- <h4 class="card-title ">Light card title</h4> -->
					<p class="card-text">{{ item.email }}</p>
					<button class="btn btn-outline-danger" (click)="addFriend(item._id)">Ajouter à mes amis</button>
					
					</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<!-- <h1>Ajouter un ami</h1> -->
			<app-add-friend></app-add-friend>
		</div>
	</div>
</div>
